{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <br>
<div class="container-fluid text-warning text-bg-light">
        <h1><img class='card-img-top' style="height: 400px" src="{% static 'images/bb1.png' %}" alt="Card image"></h1>
        <p>
</div>
<body>
  <p>:</p>
  <div class="alert alert-info">
    <strong>1.</strong> จบชั้นมัธยมศึกษาปีที่3 จากโรงเรียนบ้านค้อเหนือค้อใต้ดอนกลาง เมื่อปี พ.ศ 2560<br>
      เกรดเฉลี่ย 3.25
  </div>
  <div class="alert alert-warning">
    <strong>2.</strong> จบชั้นประกาศนียบัตรวิชาชีพ จากวิทยาลัยเทคนิคยโสธร เมื่อปี พ.ศ 2563<br>
      เกรดเฉลี่ย 3.20
  </div>
  <div class="alert alert-danger">
    <strong>3.</strong> จบชั้นประกาศนียบัตรวิชาชีพชั้นสูง จากวิทยาลัยเทคนิคยโสธร เมื่อปี พ.ศ 2565<br>
      เกรดเฉลี่ย 3.43
  </div>
  <div class="alert alert-primary">
    <strong>4.</strong> ปัจจุบันศึกษาอยู่มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น<br>
      คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล ห้อง 3R2
  </div>
</div>

</body>
</html>
{% endblock %}