{#<br>#}
{#<ul class="list-group">#}
{#    <li class="list-group-item active"><b>Menu:</b></li>#}
{#    <li><a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light text-primary"> Home </a> </li>#}
{#    <li ><a href="{% url 'educational' %}"class="list-group-item list-group-item-action list-group-item-light text-primary"> educational</a> </li>#}
{#    <li ><a href="{% url 'futuredream' %}"class="list-group-item list-group-item-action list-group-item-light text-primary">futuredream</a> </li>#}
{#    <li ><a href="{% url 'interests' %}"class="list-group-item list-group-item-action list-group-item-light text-primary">interests </a> </li>#}
{#    <li ><a href="{% url 'personal' %}"class="list-group-item list-group-item-action list-group-item-light text-primary">personal</a> </li>#}
{#    <li ><a href="{% url 'rolemodel' %}"class="list-group-item list-group-item-action list-group-item-light text-primary">rolemodel</a> </li>#}
{#    <li ><a href="{% url 'sale' %}"class="list-group-item list-group-item-action list-group-item-light text-primary">sale</a> </li>#}
{#</ul>#}